/* You can add global styles to this file, and also import other style files */

.header{
    background: #ff0000;
    width: 100%;
    padding: 30px;
    nav{
        width: 200px;
        height: 200px;
        color: #fff;
        padding: 20px;
        font-size: 30px;
    }
}